.objects {
    padding-top: 45px;
    padding-bottom: 80px;
}

.objects_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.objects_image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.objects_text {
    max-width: 543px;
    padding-left: 90px;

    p + p {
        margin-top: 20px;
    }
}

.objects_title {
    margin-bottom: 20px;
}

.objects_button {
    margin-top: 40px;
}